<a href="/demon1" class="btn btn-secondary">Back</a>
<h2>Insert New Text Data to the Database</h2>
<form action="/demon1" method="POST">
    <div class="form-group">
        <input type="text" name="text" class="form-control">
    </div>
    <input type="submit" value="Add Text" class="btn btn-primary btn-block">
</form>