    <h1>Team BlueBox - PeakLearner Tech Demonstrations</h1>
    <p>
        <h2><a href="/demon1">Demonstration 1</a>: Basic UI Features with Database Functionality</h2> 
        <h3>Challenges Addressed:</h3>
        <ul>
            <li>C2: Graphical User Interface</li>
            <li>C3: View of Current Database State</li>
        </ul>
        <h3>Descriptions:</h3>
        <p>
            This demo will take you to a page that provides the option to 'insert text data'. This will 
            then take you to a separate page where you can add text data to the non-relational database
            and watch it be added in real time. This shows that we will be able to manage a non-relational 
            database for our user authentication and group collaboration requirements. 
        </p>    
    </p>
    <p>
        <h2><a href="/demon2">Demonstration 2</a>: User Authentication</h2>
        <h3>Challenges Addressed:</h3>
        <ul>
            <li>C1: User Profiles</li>
        </ul>
        <h3>Descriptions:</h3>
        <p>
            This demo will take you to a login page. On this page there will be a list of
            users stored in our "database" which is just an array of JSON items. If you
            click on the "register" button you will be redirected to a page inwhich you can
            enter in any email and password, click "create account" and this information 
            will be added to the apps listed members shown in the box below the login box. 
            If you enter any of the valid member information featured in those boxes you 
            will be authenticated and redirected to a success page. 
        </p>    
        <p>    
            You cannot reach this page unless you have authenticated and conversley you 
            cannot go to the login or register page unless you have signed out. From this 
            page you can click the "sign out" button and you will be redirected to the 
            login page.
        </p>
    </p>
